<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/style.css">
    <title>Booking Page</title>
</head>
<body>
    <div class="navbar">
        <a href="/" class="logo"></a>
        <h1 class="title">MakersBnB</h1>
        <ul class="login-container">
            <% if @username.nil? %>
                <li class="navbar-item"><a href="/signup">Sign Up</a></li>
                <li class="navbar-item"><a href="/login">Login</a></li>
            <% else %>
                <li class="navbar-item"><a href="/profile"><%= @username %></a></li>
                <li class="navbar-item"><a href="/logout">Log Out</a></li>
            <% end %>
            <li class="hamburger-menu"></li>
        </ul>
    </div>

    <div class="container">
        <div class="sections">
            <div class="section-one">
                <div class="booking-image-container">
                    <img class="booking-image" src="<%= @property['image_link'] %>" alt="house">
                </div>
                <h3><%= @property["property-name"] %></h3>
                <h4><%= @property["area"] %></h4>
                <div class="property-details">
                <h4><%= @property["home_type"] %></h4>
                    <div class="property-listing">
                        <ul class="property-details-list">
                            <% if @property["wifi"] == 't' %><li>Wifi</li><% end %>
                            <% if @property["parking"] == 't' %><li>Free parking</li><% end %>
                        </ul>
                        <ul class="property-details-list">
                            <% if @property["kitchen"] == 't' %><li>Kitchen</li><% end %>
                            <% if @property["heating"] == 't' %><li>Heating</li><% end %>
                        </ul>
                    </div>
                </div>
                <div class="break"></div>
                <div class="property-description">
                    <p><%= @property["room_type"] %></p>
                </div>
            </div>
            <div class="section-two">
                <div class="booking-container">
                    <div class="headings">
                        <h2>£<%= @property["price"][1..] %> /night</h2>
                    </div>
                    <div class="break"></div>
                    <div class="book-dates">
                        <label for="start">Start date:</label>
                        <input type="date" id="start" name="trip-start" min="<%= @property['date_from'] %>" max="<%= @property['date_to'] %>">
                    </div>
                    <div class="book-dates">
                        <label for="end">End date:</label>
                        <input type="date" id="end" name="trip-end" min="<%= @property['date_from'] %>" max="<%= @property['date_to'] %>">
                    </div>
                    <select class="guests-select" name="guests-select" id="guests-select">
                        <option value="one">1 guest</option>
                        <option value="two">2 guests</option>
                    </select>
                    <div class="booking-button-container">
                        <button class="submit-button">Book now</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
